<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>게시판</h1>
  <div th:if="${session.loginUser}">
    <a th:text="'환영합니다 ' + ${session.loginUser.username} + '님'"></a> | <a href="/logout">로그아웃</a>
  </div>
  <div th:unless="${session.loginUser}">
    <a href="/loginUserForm">로그인</a> | <a href="/createUserForm">회원가입</a>
  </div>

  <hr>

  <input type="button" onclick="location.href='/writeForm'" value="글 작성하기"/>
  <table border="1">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
      <td th:text="${board.id}"></td>
      <td>
        <a th:href="@{/{id} (id=${board.id})}" th:text="${board.title}"></a>
      </td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.createdAt}"></td>
    </tr>
    </tbody>
  </table>
</body>
</html>