<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
  <h1>게시판</h1>
  <hr>
  <input type="button" onclick="location.href='/board/write'" value="글 작성하기"/>
  <table border="1">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
      <td th:text="${board.boardId}"></td>
      <td>
        <a th:href="@{'/detail?id=' + ${board.boardId}}"
           th:text="${board.title}">
        </a>
      </td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.createdAt}"></td>
    </tr>
    </tbody>
  </table>
</body>
</html>